.pokemon-list-header {
    width: 100%;
    text-align: center;
    background-color: #A8C018;
    height: 3em;
    line-height: 3em;
}

#pokemon-list {
    width: 100%;
    max-width: 600px;
    background-color: rgba(247, 242, 236, 0.891);
    padding: 15px;
    border-radius: 10px;
}

.pokemon-list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    min-height: 3em;
}

.load-more-btn {
    min-width: 100px;
    margin: 6px;
}

.social {
    max-height: 40px;
    margin: 0px 10px;
}